@model KarlovoPharm.Web.InputModels.Users.ProfileEdintInputModel

@{
    this.ViewData["Title"] = "Редактирай Профил";
}
<div class="container">
    @if (this.TempData["Error"] != null)
    {
        @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
    }

    <div class="col justify-content-center">
        <div class="col-md-4 ">
            <h1 style="color: black">@ViewData["Title"]</h1>
            <hr />
            <div class="col-md-10">
                <form asp-controller="Users" asp-action="ProfileEdit" asp-route-userId="@Model.Id" method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Id">
                        <label for="Username" class="text-black">Потребителско име:</label>
                        <input asp-for="Username" type="text" class="form-control" placeholder="@Model.Username">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="FirstName" class="text-black">Име:</label>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="@Model.FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="text-black">Фамилия:</label>
                        <input asp-for="LastName" type="text" class="form-control" placeholder="@Model.LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber" class="text-black">Телефонен номер:</label>
                        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="@Model.PhoneNumber">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input type="submit" onclick="doMagic('@Model.Username')" class="btn btn-primary btn-lg btn-block" value="Запази промените">
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>

    <div class="col justify-content-center">

        @{ var count = 1;}

        <div class="accordion" id="accordionExample">

            @foreach (var address in Model.UserAddresses)
            {
                <div class="card">
                    <div class="card-header" id="@count">
                        <h2 class="mb-md-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_@count" aria-expanded="true" aria-controls="collapseOne_@count">
                                Виж Адрес - @count
                            </button>
                        </h2>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm">
                            <a asp-controller="Addresses" asp-action="Edit" asp-route-addressId="@address.AddressId" asp-route-userId="@Model.Id">
                                <input type="button" class="btn btn-warning" value="Редактирай адрес" />
                            </a>
                            <a asp-controller="Addresses" asp-action="Delete" asp-route-addressId="@address.AddressId" asp-route-userId="@Model.Id">
                                <input type="button" class="btn btn-danger" value="Изтрий адрес" />
                            </a>
                        </div>
                    </div>

                    <div id="collapseOne_@count" class="collapse" aria-labelledby="@count" data-parent="#accordionExample">

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label for="AddressCity" class="text-black">Град:</label>
                                <span>@address.AddressCity</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label for="AddressStreet" class="text-black">Улица:</label>
                                <span>@address.AddressStreet</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label for="AddressBuildingNumber" class="text-black">Номер на сграда:</label>
                                <span>@address.AddressBuildingNumber</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label for="AddressPostCode" class="text-black">Пощенски код:</label>
                                <span>@address.AddressPostCode</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="Description" class="text-black">Описание:</label>
                                <span>@address.AddressDescription</span>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
        <div class="form-group row">
            <div class="col-lg-5">
                <a asp-controller="Addresses" asp-action="Create" asp-route-userId="@Model.Id">
                    <input type="button" class="btn btn-primary" value="Добави адрес" />
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function doMagic(userName) {
            $('#userNameId').html(userName);
        };
    </script>
}