@using KarlovoPharm.Web.ViewModels.Display
@model KarlovoPharm.Web.Paging.PaginatedList<ProductDisplayViewModel>

@{
    ViewData["Title"] = "Всички продукти";
}

@{ var searchString = this.ViewData["SearchString"];}



<form method="get" asp-action="All" class="form-inline justify-content-center">
    <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Въведи ключова дума" value="@searchString">
    <button class="btn btn-info" type="submit">Търси</button>
</form>

<div class="container mobile-fondsize-11">
    <div class="mobile-fondsize-20 h3 text-center text-black">@ViewData["Title"]</div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Снимка</th>
                <th>Име</th>
                <th>Цена</th>
                <th>Категория</th>
                <th>Подкатегория</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><img src="@product.Picture" width="50" height="50"></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.SubCategoryCategoryName</td>
                    <td>@product.SubCategoryName</td>
                    <td><a asp-action="Edit" asp-route-productId="@product.Id" class="btn btn-primary btn-sm mobile-fondsize-11">Промени</a></td>
                    <td><a asp-action="Delete" asp-route-productId="@product.Id" class="btn btn-danger btn-sm mobile-fondsize-11">Изтрий</a></td>
                    <td>
                        <form id="availableForm" method="post"></form>
                        <div id="@product.Id" href="#" class="@(product.Available == true ? "btn btn-dark" : "btn btn-success")"  
                             onclick="changeAvailability('@product.Id', '@product.Available')">
                            @(product.Available == true ? "Промени на неналичен" : "Промени на наличен")
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <div class="site-block-27">
                <ul>
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="1" asp-route-searchString="@searchString">&laquo;</a>
                    </li>
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-searchString="@searchString">&lt;</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-action="All" asp-route-pageNumber="@i" asp-route-searchString="@searchString">@i</a></li>
                        @if (i > 10)
                        {
                            break;
                        }
                    }
                    <li class="page-item @nextDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-searchString="@searchString">&gt;</a>
                    </li>
                    <li class="page-item @nextDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.TotalPages" asp-route-searchString="@searchString">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script>
        function changeAvailability(id, available) {

            var token = $("#availableForm input[name=__RequestVerificationToken]").val();
            var json = { id: id, available: available };

            $.ajax({
                url: `/Products/ChangeAvailability/${id}`,
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    if (data.available == true) {

                        var element = document.getElementById(json['id']);

                        element.innerHTML = "Промени на неналичен";
                        element.className = "btn btn-dark";
                    }
                    else {
                           var element = document.getElementById(json['id']);

                        element.innerHTML = "Промени на наличен";
                        element.className = "btn btn-success";
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error " + textStatus);
                    console.log("incoming Text " + jqXHR.responseText);
                }

            });
        }
    </script>
}