@using KarlovoPharm.Web.ViewModels.Display
@model KarlovoPharm.Web.Paging.PaginatedList<ProductDisplayViewModel>

@{
    ViewData["Title"] = "Всички продукти";
}

@{ var searchString = this.ViewData["SearchString"];}


<form method="get" asp-action="All" class="form-inline justify-content-center">
    <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Въведи ключова дума" value="@searchString">
    <button class="btn btn-info" type="submit">Търси</button>
</form>

<div class="container mobile-fondsize-11">
    <div class="mobile-fondsize-20 h3 text-center text-black">@ViewData["Title"]</div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Снимка</th>
                <th>Име</th>
                <th>Цена</th>
                <th>Категория</th>
                <th>Подкатегория</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><img src="@product.Picture" width="50" height="50"></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.SubCategoryCategoryName</td>
                    <td>@product.SubCategoryName</td>
                    <td><a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary btn-sm mobile-fondsize-11">Промени</a></td>
                    <td><a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-danger btn-sm mobile-fondsize-11">Изтрий</a></td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <div class="site-block-27">
                <ul>
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="1">&laquo;</a>
                    </li>
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="@(Model.PageIndex - 1)">&lt;</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-action="All" asp-route-pageNumber="@i">@i</a></li>
                        @if (i > 10)
                        {
                            break;
                        }
                    }
                    <li class="page-item @nextDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="@(Model.PageIndex + 1)">&gt;</a>
                    </li>
                    <li class="page-item @nextDisabled">
                        <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.TotalPages">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>